[user]
	name = SF-Zhou
	email = sfzhou.scut@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
